.main-page {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    color: #999;
}

.header__logo:hover {
    text-decoration: none;
}

.film-mini-card {
    margin: 7px;
    padding: 10px;
    min-height: 50px;
    float: left;
    max-width: 360px;
    min-width: 180px;
    width: 100%;
    background-color: #90d9e5;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px #04406d;

}

.film-card {
    margin: 20px;
}
.film-card__info {
    background-color: #ad8961;
    padding: 20px;
    border-radius: 5px;
}

.comment {
    background-color: #e5ecea;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}

.comment__info {
    color: #04406d;
}

.f-restore {
    display: none;
}

.control-label{
    width: 260px;
}

.update-film-form {
    display: none;
}

.form-block{
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    background-color: #ad8961;
    border-radius: 5px;
}

.form-block__input {
    height: auto;
    font-size: large;
}

.form-block__btn {
    width: 210px;
    margin: 5px;
    font-size: large;
}

.form-block__error {
    width: 210px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: large;
}