<div class = "header navbar navbar-inner">
 	<div class = "row">
 		<span class = "span3">
 			<h1><a href = "/" class = "header__logo ">KINOLIB</a></h1>
 		</span>
        <div>
            {% if user.is_authenticated %}

                {{request.user}}
                <a href = "/logout"> Выйти </a>
{#                <div><a href="/user_statistic">Мои оценки</a></div>#}

            {% else %}
                <a href = "/login"> Войти </a>|
                <a href = "/reg"> Регистрация </a>
            {% endif %}
        </div>
 	</div>
</div>