{% extends "base.html" %}

{% block content %}
<form method = "post" action = "/login" class="form-block">
	{% csrf_token %}
	<fieldset>
		<legend> Вход в систему </legend>
		<div>
            <input type="text" class="form-block__input" name="email" placeholder="Email"><br>
            <input type="password" class="form-block__input" name="password" placeholder="Password"><br>
			{%if error%}
				<div class = "form-block__error alert-error">
					{{ error }}
				</div>
			{%endif%}
			<button type="submit" class="form-block__btn btn btn-primary  ">Sign in</button>
		</div>
	</fieldset>
</form>
{% endblock %}